#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#main-header {
  background-color: darkgray;
  border: 2px solid black;
  min-width: 900px;
}

.single-post-card {
  background-color: lightgray;
  padding: 1.5rem;
  margin: 20px;
  border: 2px solid black;
}

a {
  font-weight: 500;
  color: darkblue;
  text-decoration: inherit;
  margin: 5px;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a:hover {
    color: #747bff;
  }

  .my-messages, .recieved-messages {
    margin: 40px;
  }